<p id="notice"><%= notice %></p>

<%= @template_1.sentence_1 %> <%= @template_1.var_1 %><br>
<%= @template_1.sentence_2 %> <%= @template_1.var_2 %><br>
<%= @template_1.sentence_3 %> <%= @template_1.var_3 %><br>
<%= @template_1.sentence_4 %> <%= @template_1.var_4 %><br>
<%= @template_1.sentence_5 %> <%= @template_1.var_5 %><br>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
