<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :var1, "Enter a salutation." %><br>
    <%= f.text_area :var1 %>
  </div>
  <div class="field">
    <%= f.label :var2, "Name a geographic location." %><br>
    <%= f.text_area :var2 %>
  </div>
  <div class="field">
    <%= f.label :var3, "Adjective" %><br>
    <%= f.text_area :var3 %>
  </div>
  <div class="field">
    <%= f.label :var4, "Friend's name" %><br>
    <%= f.text_area :var4 %>
  </div>
  <div class="field">
    <%= f.label :var5, "Group of people" %><br>
    <%= f.text_area :var5 %>
  </div>
    <div class="field">
    <%= f.label :var6, "Plural noun" %><br>
    <%= f.text_area :var6 %>
  </div>
  <div class="field">
    <%= f.label :var7, "Plural noun" %><br>
    <%= f.text_area :var7 %>
  </div>
  <div class="field">
    <%= f.label :var8, "Grandma activity" %><br>
    <%= f.text_area :var8 %>
  </div>
  <div class="field">
    <%= f.label :var9, "Past-tense verb" %><br>
    <%= f.text_area :var9 %>
  </div>
  <div class="field">
    <%= f.label :var10, "Place" %><br>
    <%= f.text_area :var10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
