<p id="notice"><%= notice %></p>

Dear Grandma,<br>
<br>
<%= @user.var1 %>!
<br>

Today I went to <%= @user.var2 %>.  I was with my <%= @user.var3 %> friend, <%= @user.var4 %>. <%= @user.var4 %> never knows how to act around <%= @user.var5 %>. We nearly got into a fight using <%= @user.var6 %> and <%= @user.var7 %>.<br>

Anyways, how is <%= @user.var8 %>? Have you <%= @user.var9 %> any <%= @user.var10 %> yet?  I remember the time that we <%= @user.var11 %> in the <%= @user.var12 %>.  Wasn't I <%= @user.var13 %>?<br>

I sure do miss your <%= @user.var14 %>.  Can I get the recipe?  I want to make it for <%= @user.var15 %>. <br>

Thank you for the <%= @user.var16 %>.  I had so much fun <%= @user.var17 %>ing with them while watching <%= @user.var18 %> <%= @user.var19 %> in the backyard.<br>

I can't wait to <%= @user.var20 %> it up with you soon! I miss your <%= @user.var21 %>.<br>

Love <%= @user.var22 %>. 

<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
