<div class="jumbotron">
<%= render "drafts/formatted_letter" %>

<br>
<br>
<br>
<%= form_for [@letter, @draft] do |f| %>
<%= f.email_field :email, :placeholder => "enter your email" %><br>
<%= f.radio_button(:share_option, "send_email") %>
<%= f.label(:share_option, "Email letter.") %>
<%= f.radio_button(:share_option, "send_form") %>
<%= f.label(:share_option, "Share with a friend.") %>
<br>
<%= f.submit "Share", :class => "btn btn-info dropdown-toggle" %>
<% end %>


</div>


