<!DOCTYPE html>
<html>
<head>
  <title>Dear Grandma</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="container">
   
    <div class="row text-center">
      
      <a href="/" ><img src="<%= image_path("logo1.png") %>" width="35%" height="35%"></a></li>
     </div>
            <%= yield %>
    
  </div>
  <footer class="footer text-center"><p>Made with care by Mike and Stephanie @flatironschool.</p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dear-grandma.herokuapp.com/" data-text="Create your own awesome madlib @ DearGrandma" data-via="flatironschool" data-size="large" data-hashtags="deargrandma">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </footer>
</body>
</html>